// Place all the styles related to the fragments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fragment-content {
  padding-left: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#continue {
  padding-top: 15px;
  padding-right: 15px;
}

#author {
  padding-left: 15px;
  padding-top: 15px;
}