// import the CSS framework
@import "foundation_and_overrides";

// Variables

$greyDarker: #222;
$greyDark: #333;
$grey: #555;
$greyLight: #999;
$greyMediumLight: #eaeaea;
$greyLighter: #eee;

$blue: #049cdb;
$green: #46a546;
$maroon: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $greyMediumLight;
  color: $greyLight;

  a {
    color: $grey;

    &:hover {
      color: $greyDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
      font-size: 12px;
    }
  }
}

// CSS styling for devise errors
#error_explanation {
  @extend .panel;
  @extend .radius;
  @extend .alert-box;
  
  background-color: $alert-color;
  
  h2 {
    color: $alert-font-color;
    font-size: 1.1rem;
  }
  
  ul {
    font-size: $alert-font-size;
    padding-left: 1rem;
  }
}

// Ensure close button is in the middle of the alert box
.alert-box .fi-x{
  padding-top: 0.15rem;
}

// Add padding after gravatar image if in topbar
.top-bar .gravatar {
  @include box-sizing(content-box);
  padding-right: 0.6rem;
}