// import the CSS framework
@import "foundation_and_overrides";

// Variables

$greyDarker: #222;
$greyDark: #333;
$grey: #555;
$greyLight: #999;
$greyMediumLight: #eaeaea;
$greyLighter: #eee;

$blue: #049cdb;
$green: #46a546;
$maroon: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $greyMediumLight;
  color: $greyLight;

  a {
    color: $grey;

    &:hover {
      color: $greyDarker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
      font-size: 12px;
    }
  }
}