// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework_and_overrides";

#story-tree {
  background-color: $greyLighter;
}

.story-list-item {
  padding-bottom: 10px;
  
  &:hover {
    background-color: lightgrey;
  }
  
  ul {
    list-style: none;
    
    li {
      float: left;
      margin-right: 30px;
    }
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.circle {
  stroke-width: 1.5px;
  stroke-opacity: 1.0;
  fill-opacity: 1.0;
  
  &:hover {
    cursor: pointer;
    fill-opacity: 0.8;
    stroke-opacity: 0.5;
  }
}

#continue {
  ul {
    list-style: none;
    
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#back {
  padding-top: 10px;
}

.large-icon {
  font-size: 1.3rem;
}

#hint-text {
  display: inline;
  margin: 0.6rem;
  font-size: 1rem;
}

#show-comment {
  margin-left: -6.7rem;
  z-index: 1000;
  position: fixed;
  top: 4rem;
  left: 0;
  transition-property: margin-left;
  transition-duration: 200ms;

  width: 10rem;

  &:hover {
    cursor: pointer;
    transition-property: margin-left;
    transition-duration: 200ms;
    margin-left: 0;
  }
}

.inline {
  display: inline;
}

.facts-table-body {
  overflow-y: auto;
  height: rem-calc(300px);
  vertical-align: middle;
  display: block;
}

.old-fact {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pad-top {
  margin-top: 10px;
}

.tooltip {
  z-index: 1006;
}
